---
layout: page
title: Partners
permalink: /partners/
---

<p>Pelagios is a formal network of equal and independent Partners who coordinate their work together. To become a Partner, all institutions, projects and/or individuals have to do is to agree to contribute to ongoing work that falls under the aegis of one or more of the Network's <a href="https://pelagios.org/activities/">Activities</a>. Partnerships are defined by a Memorandum of Understanding, a non-legally binding document in which the prospective Partner outlines their contribution in consultation with the Network.</p>
<p>To discuss becoming a Partner of the Pelagios Network, simply get in touch with the coordinators of the relevant Activity via our <a href="https://pelagios.org/contact-us/">Contact page</a>.</p>

<hr />

{% assign sorted_partners = site.partners | sort:'title' %}

{% for partner in sorted_partners %}
<div class="partner">
  {% if partner.partner-url != nil %}
  
  <a href="https://globalmiddleages.org/project/black-death-digital-archive-project">
    {% if partner.logo != nil %}
      <img class="partner-logo" src="https://drive.google.com/open?id=0B909A3riMKrHSGpFaEZVeDFfX0hCRzJTSmpob0JQcGFoNE5R"  />
    {% endif %}
      <h2>{{ partner.title }}</h2>
      <p>{{ partner.content }}</p>
    </a>
    {% else %}
    {% if partner.logo != nil %}
    <img class="partner-logo" src="https://drive.google.com/open?id=0B909A3riMKrHSGpFaEZVeDFfX0hCRzJTSmpob0JQcGFoNE5R"  />
  {% endif %}
    <h2>Black Death Digital Archive</h2>
    <p>The Black Death Digital Archive (BDDA) is a multidisciplinary portal for researching the Second Plague Pandemic, i.e., outbreaks of plague that started with the mid-fourteenth-century Black Death and their recurrences across Afro-Eurasia during six hundred years, from the 1340s to 1940s.</p>
  {% endif %}
 </div>
{% endfor %}
