---
layout: page
title: Partner Projects
---

Pelagios is a formal network of equal and independent Partners who coordinate their work together. Each Partner defines a set of contributions it will make to one or more of the Activities.
There are no fees or subscriptions, and Partners remain in full control of their own work plans and resources.
Generally speaking, Partner contributions operate through independently-funded or voluntary projects.

{% assign sorted_partners = site.partners | sort:'title' %}

{% for partner in sorted_partners %}
<div class="partner">
  {% if partner.logo != nil %}
    <img class="partner-logo" src="{{ partner.logo }}"  />
  {% endif %}
  <h2>{{ partner.title }}</h2>
  <p>{{ partner.content | markdownify }}</p>
  {% if partner.partner-url != nil %}
    <a href="http://{{ partner.partner-url }}">Find out more about {{ partner.title }}</a>
  {% endif %}
 </div>
{% endfor %}
