---
layout: page
title: Partners
permalink: /partners/
---

<p>Pelagios is a formal network of equal and independent Partners who coordinate their work together. Each Partner defines a set of contributions it will make to one or more of the Activities.
To become a Partner, individuals and institutions can jointly agree a set of contributions to one or more of the Activities with the Network’s governing Committee,
through a formal (though not legally binding) Memorandum of Understanding. To discuss this with the Network, get in touch via our <a href="https://pelagios.org/contact-us/">Contact page</a> </p>

<hr />

{% assign sorted_partners = site.partners | sort:'title' %}

{% for partner in sorted_partners %}
<div class="partner">
  {% if partner.partner-url != nil %}
  
  <a href="http://{{ partner.partner-url }}">
    {% if partner.logo != nil %}
      <img class="partner-logo" src="{{ partner.logo }}"  />
    {% endif %}
      <h2>{{ partner.title }}</h2>
      <p>{{ partner.content }}</p>
    </a>
    {% else %}
    {% if partner.logo != nil %}
    <img class="partner-logo" src="{{ partner.logo }}"  />
  {% endif %}
    <h2>{{ partner.title }}</h2>
    <p>{{ partner.content }}</p>
  {% endif %}
 </div>
{% endfor %}
