.case-studies--home-wrapper {
  background-image: url(/assets/images/mainimage.jpg);
  padding: 60px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  clear: both;
  .case-studies--home {
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.5%;
    @media (max-width: 710px){
      justify-content: space-around;
    }
  }
}

.case-studies--home,
.case-studies--list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  > h2 {
    width: 100%;
  }
}

.case-study--teaser:nth-of-type(1),
.case-study--teaser:nth-of-type(2),
.case-study--teaser:nth-of-type(3),
.case-study--teaser:nth-of-type(4),
.case-study--teaser:nth-of-type(5) {
  max-width: 400px;
  position: relative;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
  align-self: flex-end;
  display: block;
  overflow: hidden;
  a {
    width: 100%;
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: $white;
      z-index: 10;
      opacity: 0;
    }
    &:hover:before {
      opacity: 0.2;
    }
  }
  img {
    display: block;
    height: 100%;
    //overflow: hidden;
    width: auto;
    border-radius: 0;

  }
  .case-study--title {
    background: #099B9B;
    min-height: 90px;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 90px;
  }
  h2 {
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin: 0;
    margin-bottom: 14px;
  }
}
.case-study--teaser{
  &:nth-of-type(1) {
    width: 319px;
    height: 218px;
    .case-study--title {
      background: $sea-green-1;
    }
  }
  &:nth-of-type(2) {
    width: 322px;
    height: 250px;
    .case-study--title {
      background: $sea-green-2;
    }
  }
  &:nth-of-type(3) {
    width: 230px;
    height: 205px;
    align-self: flex-start;
    margin-left: 89px;
    .case-study--title {
      background: $sea-green-2;
    }
  }
  &:nth-of-type(4) {
    width: 170px;
    height: 260px;
    align-self: flex-start;
    .case-study--title {
      background: $sea-green-3;
    }
  }
  &:nth-of-type(5) {
    width: 280px;
    height: 235px;
    align-self: flex-start;
    margin-right: 0;
    h2 {
      background: $sea-green-1;
    }
  }
}
.case-study--teaser:nth-of-type(6){
  margin-top: 80px;
}
.case-study--teaser {
  width: 100%;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: $light-grey;
    float: left;
    margin-right: 20px;
  }
  h2 {
    margin-top: 8px;
  }
}

.case-study {
  margin-bottom: 30px;

}

.activities--teaser {
  float: left;
  max-width: 300px;
  margin: 10px;
}
