$white: #ffffff;
$black: #000000;
$light-grey: #E7E7E7;

$turquoise: #0797D5;
$sea-green-1: #099B9B;
$sea-green-2: #0097AB;
$sea-green-3: #399D6D;

$almost-black: #00131E;

$blue--dark: #284a82;

$header-height-home: 420px;
$header-height: 85px;
$content-max-width: 1040px;
$content-column-width-large: 470px;
$content-column-width: 200px;

$main-image-width: 170px;

$logo-height: 65px;
$logo-height-home: 90px;

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 17px;
$font-size-medium: 20px;
$font-size-large: 23px;
$font-size-x-large: 28px;
