.cta, 
.get-in-touch {
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 7px 6px;
    text-decoration: none;
    background: $turquoise;
    color: $white;
    font-size: $font-size-tiny;
    &:hover {
      background: $almost-black;
    }

}

.get-in-touch {
  font-size: 14px;
}


.link-about .cta, .activity--coordinators a {
  background: $almost-black;
  font-size: 16px;
  margin-top: 30px;
  padding: 10px 20px 11px;
  &:hover {
    background: $turquoise;
    color: white;
  }
  @media (min-width : 1000px) {
    font-size: 17px;
  }
}
