footer {
  clear: both;
  margin-top: 100px;
  display: inline-block;
  width: 100%;
  background: $light-grey;
  padding: 40px 0;
  font-size: $font-size-tiny;
}

footer ul {
  display: block;
  padding: 0;
  float: left;
  width: 100%;
  li {
    list-style-image: none;
    list-style-type: none;
    float: left;
    clear: both;
    margin-bottom: 10px;
  }
  a {
    display: block;
    background: $almost-black;
    box-sizing: border-box;
    padding: 4px 7px 6px;
    text-decoration: none;
    color: $white;
    &:hover {
      background: $turquoise;
      color: $white;
    }
  }
}
.footer-2 {
  a {
    background: $turquoise;
    &:hover {
      background: $almost-black;
    }
  }
  ul:nth-of-type(2) {
    a {
      background: none;
      color: $black;
      padding: 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer-3 p {
  font-size: $font-size-tiny;
}

.footer-block {
  @media (min-width : 600px) {
    width:50%;
    float: left;
  }
  @media (min-width : 900px) {
    width: 33%;
    float: left;
  }
}
