

.blurb--home{
  max-width: 400px;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  @media (min-width : 600px){
    margin-bottom: 70px;
  }
  p {
    margin: 0;
  }
}
.cta--home {
  width: 220px;
  float: left;
  a {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 20px 11px 50px;
    position: relative;
  }
}

.cta--home {
  a:nth-of-type(1) {
    background-image: url(/assets/images/icon-chat.svg);
    background-position: 12px 12px;
    background-repeat: no-repeat;
    background-size: 26px;
  }
  a:nth-of-type(2) {
    background-image: url(/assets/images/icon-github.svg);
    background-position: 13px 4px;
    background-repeat: no-repeat;
    background-size: 25px;
  }
  a:nth-of-type(3) {
    background-image: url(/assets/images/icon-recogito.svg);
    background-position: 14px 10px;
    background-repeat: no-repeat;
    background-size: 24px;
  }
}


.page--welcome-to-pelgios-network {
  header {
    background: $white;
    .logo {
      height: 60px;
      margin-top: 20px;
      @media (min-width : 600px){
        height: 100px;
        margin-top: 45px;
      }
      @media (min-width : 1000px){
        margin-left: -41px;
      }
    }
  }
}

#video-container {
  background: grey;
  padding: 60px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  clear: both;
}

.video {
  margin: 0 auto;
  max-width: 800px;
}