.case-studies--home-wrapper {
  background-image: url(/assets/mainimage.jpg);
  padding: 60px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  clear: both;
  .case-studies--home {
    width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
  }


}

.blurb--home{
  width: 400px;
  float: left;
  margin-right: 50px;
  margin-bottom: 70px;
  p {
    margin: 0;
  }
}
.cta--home {
  width: 215px;
  float: left;
  a {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
}


.page--welcome-to-pelgios-network {
  header {
    background: $white;
    .logo {
      height: 100px;
      margin-top: 50px;
    }
  }
}
