

.blurb--home {
  max-width: 400px;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  @media (min-width : 745px){
    margin-bottom: 50px;
  }
  p {
    font-size: 120%;
    margin: 0;
  }
}
.cta--home {
  width: 220px;
  float: left;
  a {
    font-size: 15px;
    margin-bottom: 10px;
    padding: 8px 15px 9px 45px;
    position: relative;
  }
  @media (min-width : 767px) {
    margin-left: 20px;
  }
  @media (min-width : 1400px) {
    a {
      font-size: 16px;
    }
  }
}

.cta--home {
  a.groups {
    background-image: url(/assets/images/icon-chat.svg);
    background-position: 10px 9px;
    background-repeat: no-repeat;
    background-size: 26px;
  }
  a.blog {
    background-image: url(/assets/images/icon-medium.svg);
    background-position: 12px 7px;
    background-repeat: no-repeat;
    background-size: 23px;
  }
  a.github {
    background-image: url(/assets/images/icon-github.svg);
    background-position: 11px 1px;
    background-repeat: no-repeat;
    background-size: 25px;
  }
  a.recogito {
    background-image: url(/assets/images/icon-recogito.svg);
    background-position: 12px 7px;
    background-repeat: no-repeat;
    background-size: 24px;
  }
  a:last-of-type {
    margin-bottom: 30px;
  }
}


.page--welcome-to-pelgios-network {
  header {
    background: $white;
    .logo {
      height: 60px;
      margin-top: 20px;
      @media (min-width : 600px){
        height: 100px;
        margin-top: 45px;
      }
      @media (min-width : 1000px){
        margin-left: -41px;
      }
    }
  }
}

#video-container {
  display: block; // remove this line to show video!
  background: #e7e7e7;
  padding: 60px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  clear: both;
}

.video {
  margin: 0 auto;
  max-width: 800px;
  iframe {
    height: 225px;
    margin: 0 5%;
    width: 90%;
  }
  @media (min-width : 600px){
    iframe {
      height: 450px;
    }
  }
  @media (min-width : 820px){
    iframe {
      margin: 0;
      width: 100%;
    }
  }
}
