.activities--page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .activity--teaser {
    max-width: 30%;
    img {
      background: $light-grey;
      height: 115px;
    }
  }
}

.activities--home {
  h2 {
    width: 100%;
    font-size: 16px;
  }
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;

}
.activity--teaser {
    width: 115px;
    img {
      height: 115px;
      background: $light-grey;
    }
    h3 {
      font-size: 15px;
      letter-spacing: -0.5px;
      line-height: 15px;
    }
    p {
      line-height: 15px;
    }
}
