.constrained.container {
  padding-top: 40px;
}

.page--type-case-studies,
.page--type-activities {
  .constrained.container {
    @media (min-width: 600px){
      float: left;
      padding-left: 30%;
      width: 68%;
      .main-image {
          margin-left:  -28%;
          position: absolute;
          padding-right: 30px;
          width: 25%;
      }
    }
    @media (min-width: 800px){
      float: initial;
      padding-left: $content-column-width;
      max-width: $content-column-width-large;
      .main-image {
          margin-left:  -220px;
          width: 170px;
      }
    }
    .main-image {
      margin-top: -33px;
      img {
        width: 100%;
      }
    }
  }
}

.partner--related,
.activity--coordinator {
  float: left;
  width: 100%;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: $light-grey;
    float: left;
    margin-right: 20px;

  }
  h3 {
    margin-top: 10px;
  }
  .partner--text {
    display: block;
    float: left;
    width: calc(100% - 70px);
  }
  &:last-of-type {
    margin-bottom: 20px;
  }
}

.partner--related {
  margin-bottom: 30px;
  p {
    font-size: $font-size-small;
  }
}

.activity--case-studies {
  img {
    float: right;
    margin: 0 0 20px 20px;
  }
}
