.constrained.container {
  padding-top: 40px;
}

.page--type-case-studies,
.page--type-activities {
  .constrained.container {
    padding-left: $content-column-width;
    width: $content-column-width-large;
    .main-image {
      margin-left:  -$content-column-width;
      position: absolute;
      padding-right: 30px;
      width: 170px;
      margin-top: 10px;
      img {
        width: 100%;
      }
    }
  }
}

.partner--related,
.activity--coordinator {
  float: left;
  width: 100%;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: $light-grey;
    float: left;
    margin-right: 20px;

  }
  h3 {
    margin-top: 10px;
  }
  .partner--text {
    display: block;
    float: left;
    width: calc(100% - 70px);
  }
  &:last-of-type {
    margin-bottom: 20px;
  }
}

.partner--related {
  margin-bottom: 30px;
  p {
    font-size: $font-size-small;
  }
}

.activity--case-studies {
  img {
    float: right;
  }
}
