.partner {
  margin: 40px 0;

  
  h2, p {
    clear: right;
    display: -webkit-box;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

.partner-logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: $light-grey;
    clear: left;
    float: left;
    margin-right: 20px;

  }
