

// Mixin - interpolate :)

@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-screen) {
			@each $property in $properties {
				#{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
			}
		}

		@media screen and (min-width: $max-screen) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
	$a: calc(($max-value - $min-value) / ($max-screen - $min-screen));
	$b: $min-value - $a * $min-screen; 

	$sign: "+";
	@if ($b < 0) {
		$sign: "-";
		$b: abs($b);
	}
	@return calc(#{$a*100}vw #{$sign} #{$b});
} 

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
@font-face {
    font-family: 'hk_groteskregular';
    src: url('/assets/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_grotesklight';
    src: url('/assets/fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/hkgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_grotesksemibold';
    src: url('/assets/fonts/hkgrotesk-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/hkgrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskmedium';
    src: url('/assets/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/hkgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskbold';
    src: url('/assets/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'hk_groteskregular', arial, sans-serif;
}

h1 {
  color: $blue--dark;
  font-size: $font-size-x-large;
  @include interpolate(font-size, 400px, 1800px, 27px, 31px);
}
h2 {
  font-size: $font-size-large;
  font-weight: normal;
  @include interpolate(font-size, 400px, 1800px, 22px, 26px);
  line-height: 1.2;
}
h3 {
  font-size: $font-size-medium;
  font-weight: normal;
  @include interpolate(font-size, 400px, 1800px, 19px, 23px);
}
h4 {
  font-size: $font-size-normal;
  @include interpolate(font-size, 400px, 1800px, 15px, 19px);
}

p, .container li {
  font-size: $font-size-normal;
  line-height: 1.5;
  @include interpolate(font-size, 400px, 1800px, 15px, 19px);
}

h3+p {
  margin-top: -12px;
}
h4+p {
  margin-top: -12px;
}

a {
  color: $black;
  &:hover {
    color: $turquoise;
  }
}
hr {
  border: 1px solid $turquoise;
  margin: 40px 0;
}
.breadcrumb {
  color: $turquoise;
  font-size: $font-size-tiny;
  a {
    color: #444;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

p > img {
  width: 180px;
  float: right;
  margin: 0 0 35px 25px;
}


.container li {
  line-height: 1.4;
  margin: 0 0 5px 0;
}