---
layout: default
---
<div class="breadcrumb">
  <a href="/activities">Activities</a><span> > </span>
</div>
<div class="activity">
  {{ content }}
</div>

<hr />

<div class="activity--case-studies">

{% for case-study in site.category[page.category] %}
  <li>
     {{ case-study.title }}
  </li>
{% endfor %}

{% if page.category contains 'semantic annotation' %}
  {% for case-study in site.case-studies %}
    {% if case-study.category contains 'semantic annotation' %}
   <h2>{{ case-study.title }}</h2>
   {{ case-study.excerpt }}
   <a href="{{ case-study.url }}">Read more </a>
    {% endif %}
  {% endfor %}
{% elsif page.category contains 'gazetteer' %}
  {% for case-study in site.case-studies %}
    {% if case-study.category contains 'gazetteer' %}
   <h2>{{ case-study.title }}</h2>
   {{ case-study.excerpt }}
   <a href="{{ case-study.url }}">Read more </a>
    {% endif %}
  {% endfor %}
{% endif %}

</div>

<hr />

<div class="activity--coordinators">
  <h3>Activity Co-ordinators</h3>
  {% assign coordinator1 = site.data.people[page.activity-coordinator1] %}
  {% assign coordinator2 = site.data.people[page.activity-coordinator2] %}
  <ul>
    <li>
    <img src="{{ coordinator1.img }}" title="Photo of {{ coordinator1.name }}"/>
    {{ coordinator1.name }}, {{ coordinator1.institution }}
    </li>
    <li>
    <img src="{{ coordinator2.img }}" title="Photo of {{ coordinator2.name }}"/>
    {{ coordinator2.name }}, {{ coordinator2.institution }}
    </li>
  </ul>
  <a href="" class="get-in-touch">Get in touch</a>
</div>

<hr />
<div class="activity--partners">
<h3>Partner Projects</h3>

{% if page.category contains 'semantic annotation' %}
  {% for partner in site.partners %}
    {% if partner.category contains 'semantic annotation' %}
   <h2>{{ partner.title }}</h2>
    {{ partner.excerpt }}
    {% endif %}
  {% endfor %}
{% elsif page.category contains 'gazetteer' %}
  {% for partner in site.partners %}
    {% if partner.category contains 'gazetteer' %}
   <h2>{{ partner.title }}</h2>
    {{ partner.excerpt }}
    {% endif %}
  {% endfor %}
{% endif %}
</div>
