---
layout: default
---
<div class="breadcrumb">
  <a href="/activities">Activities</a><span> > </span>
</div>
<div class="activity">
  <div class="main-image"><img src="{{ page.image }}"/></div>
  <h1> {{ page.title }} </h1>
  {{ content }}
</div>

<hr />

<div class="activity--case-studies">

{% for case-study in site.category[page.category] %}
  <li>
     {{ case-study.title }}
  </li>
{% endfor %}

{% if page.category contains 'semantic annotation' %}
  {% for case-study in site.case-studies %}
    {% if case-study.category contains 'semantic annotation' %}
   <img src="{{ case-study.image }}" width="180" / >
   <h2>{{ case-study.title }}</h2>
   {{ case-study.excerpt }}
   <a href="{{ case-study.url }}">Read more </a>
    {% endif %}
  {% endfor %}
{% elsif page.category contains 'gazetteer' %}
  {% for case-study in site.case-studies %}
    {% if case-study.category contains 'gazetteer' %}
   <img src="{{ case-study.image }}" width="180" / >
   <h2>{{ case-study.title }}</h2>
   {{ case-study.excerpt }}
   <a href="{{ case-study.url }}">Read more </a>
    {% endif %}
  {% endfor %}
{% endif %}

</div>

<hr />

<div class="activity--coordinators">
  <h2>Activity Co-ordinators</h2>
  {% assign coordinator1 = site.data.people[page.activity-coordinator1] %}
  {% assign coordinator2 = site.data.people[page.activity-coordinator2] %}
  <div class="activity--coordinator">
    <img src="{{ coordinator1.img }}" title="Photo of {{ coordinator1.name }}"/>
    <p>{{ coordinator2.name }}, {{ coordinator2.institution }}</p>
  </div>
  <div class="activity--coordinator">
    <img src="{{ coordinator2.img }}" title="Photo of {{ coordinator2.name }}"/>
    <p>{{ coordinator2.name }}, {{ coordinator2.institution }}</p>
  </div>
  <a href="cta small" class="get-in-touch">Get in touch</a>
</div>

<hr />
<div class="activity--partners">
<h2>Partner Projects</h2>

{% if page.category contains 'semantic annotation' %}
  {% for partner in site.partners %}
    {% if partner.category contains 'semantic annotation' %}
    <div class="partner--related">
      <img class="partner--logo" src='{{ partner.logo }}' alt="{{ partner.title }} logo"/>
      <div class="partner--text">
      <h3>{{ partner.title }}</h3>
      {{ partner.excerpt }}
      </div>
    </div>
    {% endif %}
  {% endfor %}
{% elsif page.category contains 'gazetteer' %}
  {% for partner in site.partners %}
    {% if partner.category contains 'gazetteer' %}
      <div class="partner--related">
        <img class="partner--logo" src='{{ partner.logo }}' alt="{{ partner.title }} logo"/>
        <div class="partner--text">
        <h3>{{ partner.title }}</h3>
        {{ partner.excerpt }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
</div>
