---
layout: default
---
<div class="breadcrumb">
  <a href="/activities">Activities</a><span> > </span>
</div>
<div class="activity">
  <div class="main-image"><img src="{{ page.image }}"/></div>
  <h1> {{ page.title }} </h1>
  {{ content }}
</div>

<hr />

<div class="activity--case-studies">

{% for case-study in site.case-studies %}
  {% if case-study.category contains page.category.first %}
    <div class="case-study">
      <img src="{{ case-study.image }}" width="180" / >
      <h2>{{ case-study.title }}</h2>
      {{ case-study.excerpt }}
      <a href="{{ case-study.url }}">Read more </a>
    </div>
  {% endif %}
{% endfor %}

</div>

<hr />
{% assign coordinator1 = site.data.people[page.activity-coordinator1] %}
{% assign coordinator2 = site.data.people[page.activity-coordinator2] %}

{% if coordinator1 != nil %}
  <div class="activity--coordinators">
    <h2>Activity Co-ordinators</h2>
    <div class="activity--coordinator">
      {% if coordinator1 != nil %}
        {% if coordinator1.img != nil %}
        <img src="{{ coordinator1.img }}" title="Photo of {{ coordinator1.name }}"/>
        {% endif %}
        <p>{{ coordinator1.name }}, {{ coordinator1.institution }}</p>
      {% endif %}
    </div>
    <div class="activity--coordinator">
      {% if coordinator2 != nil %}
        {% if coordinator2.img != nil %}
        <img src="{{ coordinator2.img }}" title="Photo of {{ coordinator2.name }}"/>
        {% endif %}
        <p>{{ coordinator2.name }}, {{ coordinator2.institution }}</p>
      {% endif %}
    </div>
    <a href="cta small" class="get-in-touch">Get in touch</a>
  </div>

<hr />
{% endif %}

<div class="activity--partners">
<h2>Partner Projects</h2>

{% for partner in site.partners %}
  {% if partner.category contains page.category.first %}
  <div class="partner--related">
    {% if partner.logo != nil %}
    <img class="partner--logo" src='{{ partner.logo }}' alt="{{ partner.title }} logo"/>
    {% endif %}
    <div class="partner--text">
    <h3>{{ partner.title }}</h3>
    {{ partner.excerpt }}
    </div>
  </div>
  {% endif %}
{% endfor %}

</div>
