---
layout: default
---
<div class="breadcrumb">
  <a href="/case-studies">Case Studies</a><span>&#8202;&mdash; </span>
</div>
<div class="activity">
  <div class="main-image"><img src="{{ page.image }}"/></div>
  <h1> {{ page.title }} </h1>
</div>

<p class="csauth">By {{ page.author }}</p>

<div class="case_study">
  {{ content }}
</div>

<hr / >

{% if page.category != "" %}
See also:
{% for category in page.categories %}
  {% for activity in site.activities %}
    {% if activity.category contains category %}
      <div class="related-activity">
        <a href="{{ activity.url }}"> <span>{{ activity.title }}</span> </a>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
{% endif %}
