<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body>
			<header>
			<a href="/"><img src="/assets/logo.png" class="logo" title="Pelagios Logo" alt="Pelagios Logo" width="150px" /></a>
			<h1>Pelagios</h1>
			</header>
			<div class="container">

			<h1>{{ page.title }}</h1>

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    			<ul>
	        		<li><a href="/activities">Activities</a></li>
	        		<li><a href="/partner-projects">Partner Projects</a></li>
							<li><a href="/in-the-classroom">In the classroom</a></li>
	        		<li><a href="/for-developers">For developers</a></li>
	        		<li><a href="/contact">Contact Us</a></li>
				</ul>
				<ul>
	        		<li><a href="/">Join the conversation</a></li>
	        		<li><a href="/">Read our blog</a></li>
				</ul>
				<ul>
	        		<li><a href="/">Twitter</a></li>
	        		<li><a href="/">YouTube</a></li>
				</ul>
				<p>Pelagios Network is a freely run sorority</p>
			</footer>
		</body>
	</html>
